<h2>Stock records 2</h2>
<input type="text" placeholder="search stocks" [(ngModel)]="searchedStock">
<button class="btn btn-primary" (click)="addStock()">add stock</button>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Stock Name</th>
      <th scope="col">Stock Market Cap</th>
      <th scope="col">Stock Market Sector</th>
      <th scope="col">Release Date</th>
      <th scope="col">Symbol</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of stock2Records | search :searchedStock ; let i = index">
      <td>{{ record.id }}</td>
      <td appHighlight="red">{{ record.stockName }}</td>
      <td>{{ record.stockMarketCap | parenthesis :true }}</td>
      <td>{{ record.stockMSector  }}</td>
      <td>{{ record.releaseDate }}</td>
      <td>{{ record.symbol | parenthesis  }}</td>
    </tr>
  </tbody>
</table>
